
/* Estilos en general para fuente espaciado etc */
.root{

}

html, body {
  height: 100%;   /* Importante */
  margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}



/* Cosas del Header */

#divH{
    
    height: 150px;
    border: 10px solid #243753;

}

header{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

header h2{
    grid-column: 2 ;
    justify-self: center;
    
}

header div{
    /* Content */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Self */
    grid-column: 3 ;
    justify-self: center;
}

#mH{
    border: 10px solid #243753;
    margin-top: 32px;
    width: 100%;
    flex: 2;
}
/* Botones header */
.enters{
    padding: 10px;
    width: 150px;
    margin: 20px;
    margin-top: 60px;
}

/* Cosas del Main */
main{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
}

/* Cosas del Footer */

#divF{
    display: block;
}

footer{
   
    border: 10px solid rgb(36, 55, 83);

}

.horList{
    display: flex;
    flex-direction: row;  
    justify-content: space-evenly;  
}


/* Login */
/* Hace falta hacer que se desaparezca el inicio para que solo aparezca el login */

#formLgn{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self:flex-start;
} 

#formLgn div form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 300px;
    border: 10px solid rgb(36, 55, 83);
}

.formBtn {
    width: 100px;
    height: 50px;
    margin-top: auto;
    margin-bottom: 5px;
}

#formReg {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self:flex-start;
}

#formReg form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 400px;
    border: 10px solid rgb(36, 55, 83);
}

.unregistered{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#nosotros{
    display: none;
}
.usPfl{
    display: flex;
    
    gap: 20px;
    flex-direction: row;

}

.usImg{
    display: flex;
    flex-direction: column;
    
}









